<script type="text/javascript">
	if (typeof app === "undefined") {
		document.location.href = "../index.html";
	}
</script>

<section>
	<!-- CONTENT -->
	<div class="container" data-ng-controller="HomeCtrl">
		<div class="row">
			<div class="col-md-12">
				<ul ng-repeat=" item in slova">
					<li ng-click="getAlphabet(item)" ng-model="slovo">{{item.label}}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div ng-repeat="item in podaci | filterIme : slovo ">
				<div class="col-sm-4 col-xs-12 text-center" ng-model="korisnik">{{item.naziv}}</div>
			</div>
		</div>

	</div>

	<!-- CONTENT -->
</section>