<script type="text/javascript">
	if (typeof app === "undefined") {
		document.location.href = "../index.html";
	}
</script>
<div data-ng-controller="TestCtrl">
    <div class="test">
        {{test}}
    </div>
</div>