<script type="text/javascript">
	if(typeof app === "undefined"){
    	document.location.href="../index.html";
  	}
</script>

<div data-ng-controller="AppCtrl as appctrl">
	<header data-ng-include="'template/header.html'"></header>
	<main ui-view></main>
	<footer data-ng-include="'template/footer.html'"></footer>
</div>